mixin footer
  footer.footer
    .wrappContent.wrappFooter
      .menuFooter
        ul
          li  Вопросы
          li
            a(href="#") Как оформить заказ
          li
            a(href="#") Условия доставки
          li
            a(href="#") Возврат и обмен
          li
            a(href="#") Оплата
          li
            a(href="#") Оферта

        ul
          li О компании
          li
            a(href="#") Вакансии
          li
            a(href="#") Контакты
          li
            a(href="#") Адреса аптек
          li
            a(href="#") Лицензии

        ul
          li Другое
          li
            a(href="#") Вакансии
          li
            a(href="#") О компании
          li
            a(href="#") Партнерская программа
          li
            a(href="#") Инвесторам
      .social
        h5 Мы в социальных сетях
        .flexB
          a(href="#" target="_blank")
            i.icon.icon-vk
          a(href="#" target="_blank")
            i.icon.icon-fb
          a(href="#" target="_blank")
            i.icon.icon-youtube
          a(href="#" target="_blank")
            i.icon.icon-instagram
          a(href="#" target="_blank")
            i.icon.icon-ok
          a(href="#" target="_blank")
            i.icon.icon-tw
      address.contact
        h5 Контакты
        a.phoneFooter(href="tel:88007557575") 8 (800) 755 75 75
        .address
          p г. Воронеж ул. Пушкина
          p дом 167 офис 17.
    .copyright
      .wrappContent.flexB
        div © 2010–2016  ООО «Фармия»
        .brend
          img(src="images/npmedia-logo.png", alt="NPmedia/")




