mixin menu

  nav.menu
    .wrappContent.wrappMenu.flexB
      a.dropDown
        span Каталог товаров
        i.iocn.icon-arrow-down-black
      a.link(href="#") О компании
      a.link(href="#") Поможем детям
      a.link(href="#") Арендодетелям
      a.link(href="#") Вакансии
      a.link(href="#") Новости
      a.link(href="#") Советы экспертов
