mixin ul
  ul
    li
      a(href="#") Лечение заболеваний дыхательной системы
    li
      a(href="#") Лечение алкоголизма, наркомании, табакокурения
    li
      a(href="#") Настойки и экстракты
    li
      a(href="#") Лечение заболеваний ЖКТ и печени
    li
      a(href="#") Лекарства для борьбы с ВИЧ-инфекциями
    li
      a(href="#") Лечение заболеваний опорно-двигательного аппарата
    li
      a(href="#") Противомикробные средства
    li
      a(href="#") Лечение гормональных расстройств
    li
      a(href="#") Витамины и антиоксиданты
    li
      a(href="#") Витамины и антиоксиданты
mixin ulx2
  ul
    li
      a(href="#") Лечение заболеваний дыхательной системы
    li
      a(href="#") Лечение алкоголизма, наркомании, табакокурения
    li
      a(href="#") Настойки и экстракты
    li
      a(href="#") Лечение заболеваний ЖКТ и печени
    li
      a(href="#") Лекарства для борьбы с ВИЧ-инфекциями
    li
      a(href="#") Лечение заболеваний опорно-двигательного аппарата
    li
      a(href="#") Противомикробные средства
    li
      a(href="#") Лечение гормональных расстройств
    li
      a(href="#") Витамины и антиоксиданты
    li
      a(href="#") Витамины и антиоксиданты
    li
      a(href="#") Витамины и антиоксиданты


mixin menu

  nav.menu
    //- Modal CallBack--------------------------
    #modalMenu.modal
      //- .modal-close.burger-menu.menu-on
      //-   .burger
      form.navbar-form-search(role='search')
        input.search(type='text', placeholder='Введите название лекарства (поиск по 30 000 товарам)', name='search')
        button.btn.btnSearch(type='submit')
          .group-btn
            i.icon.icon-search.search-icon
            span найти
        .searchContent
          .wrpappSearchContent
            .title Товары
            .scrollSeacrh
              a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
              a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
               a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
               a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
               a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
            .title Статьи
            .scrollSeacrh
               a.nameSerch.linkDefault(href="#")
                span Название статьи бла бла бла
               a.nameSerch.linkDefault(href="#")
                span Название другой статьи бла бла бла бла
        .searchContent
          .wrpappSearchContent
            .title Товары
            .scrollSeacrh
              a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
              a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
               a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
               a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
               a.nameSerch.linkDefault(href="#")
                span Анальгин таблетки 500 мг, 10 шт.
                span 1456.69 руб.
            .title Статьи
            .scrollSeacrh(data-simplebar-direction="vertical")
               a.nameSerch.linkDefault(href="#")
                span Название статьи бла бла бла
               a.nameSerch.linkDefault(href="#")
                span Название другой статьи бла бла бла бла
      #accordian
        ul
          li.dropDown
            h3
              a(href='#') Каталог товаров
            ul
              li
                a(href='#') Лекарства и БАДы
                +ul

              li
                a(href='#') Гигиена
                +ul

              li
                a(href='#') Мама и малыш
                +ul

              li
                a(href='#') Мед.приборы и изделия

              li
                a(href='#') Спорт и фитнес

              li
                a(href='#') Косметика

              li
                a(href="#") Линзы
          li
            h3
              a(href='#') О компании
          li
            h3
              a(href='#') Поможем детям
          li
            h3
              a(href='#') Арендодетелям
          li
            h3
              a(href='#') Вакансии
          li
            h3
              a(href='#') Новости
          li
            h3
              a(href='#') Советы экспертов
      .bottomModal.wrappContent.flexB
        .leftTop
          a.dropDownCity#dropDownCity
            .icon.pin
            //- .icon.icon-pin
            | Воронеж
            i.icon.icon-arrow-dwon.arrow-dwon
          .wrappDropDown
            h5 Выберите ваш город
            .contentDropDown
              .group
                a(href="#") Москва
                a(href="#") Санкт-Петербург
                a(href="#") Брянск
                a(href="#") Владивосток
                a(href="#") Владимир
                a(href="#") Волгоград
                a(href="#") Вологда
                a.active(href="#") Воронеж
              .group
                a(href="#") Москва
                a(href="#") Санкт-Петербург
                a(href="#") Брянск
                a(href="#") Владивосток
                a(href="#") Владимир
                a(href="#") Волгоград
                a(href="#") Вологда
                a(href="#") Воронеж
              .group
                a(href="#") Москва
                a(href="#") Санкт-Петербург
                a(href="#") Брянск
                a(href="#") Владивосток
                a(href="#") Владимир
                a(href="#") Волгоград
                a(href="#") Вологда
                a(href="#") Воронеж
          a.linkTop(href="#") Самовывоз
          a.linkTop(href="#") Доставка
        .rightTop
          a.phone(href="tel:88007654556") 8 (800) 765 45 56
          a.link.modal-trigger(href="#modal1") Заказать звонок
    //- #accordian
      ul
        li.dropDown
          h3
            a(href='#') Каталог товаров
          ul
            li
              a(href='#') Лекарства и БАДы
              +ul
              //- +ul
              //- +ul

            li
              a(href='#') Гигиена
              +ul

            li
              a(href='#') Мама и малыш
              +ul

            li
              a(href='#') Мед.приборы и изделия

            li
              a(href='#') Спорт и фитнес

            li
              a(href='#') Косметика

            li
              a(href="#") Линзы
        li
          h3
            a(href='#') О компании
        li
          h3
            a(href='#') Поможем детям
        li
          h3
            a(href='#') Арендодетелям
        li
          h3
            a(href='#') Вакансии
        li
          h3
            a(href='#') Новости
        li
          h3
            a(href='#') Советы экспертов

    .wrappContent.wrappMenu.flexB
      a.dropDown.categoryDropDown
        span Каталог товаров
        i.iocn.icon-arrow-down-black
      .catalogProductsMenu
        .wrappContent
          ul
            li.has-sub
              a(href='#')
                span Лекарства и БАДы
                i.iocn.icon-arrow-right
              .wrapp-ul.active
                +ul
                +ul
                +ul
            li
              a(href="#") Гигиена
            li.has-sub
              a(href='#')
                span  Мама и малыш
                i.iocn.icon-arrow-right
              .wrapp-ul
                  +ulx2

            li
              a(href="") Мед.приборы и изделия
            li
              a(href="") Спорт и фитнес
            li
              a(href="") Косметика
            li
              a(href="") Линзы

      a.link(href="#") О компании
      a.link(href="#") Поможем детям
      a.link(href="#") Арендодетелям
      a.link(href="#") Вакансии
      a.link(href="#") Новости
      a.link(href="#") Советы экспертов

