mixin sectionOne
  .sectionOne
    .wrappContent
      #sync1.owl-carousel
        .wrappPhoto
          .photosectionOne
            .wrappImg
              img(src="images/upload/sectionOne/doctor_w_1.png", alt="")
          .infoSectionOne
            .date 1 МАЯ - 31 ДЕКАБРЯ
            h2.actionText Новое поступление
            h2.nameProduct Витаминов и БАД
            .desc Самое время поднимать iммунитет!
            a.btn.btnMore(href="#")
              span ПОДРОБНЕЕ
              i.icon.icon-show-more
        .wrappPhoto
          .photosectionOne
            .wrappImg
              img(src="images/upload/sectionOne/slide1.png", alt="")
          .infoSectionOne
            .date 17 МАЯ
            h2.actionText Десткий праздник в аптеках Фармия
            a.btn.btnMore(href="#")
              span ПОДРОБНЕЕ
              i.icon.icon-show-more
        .wrappPhoto
          .photosectionOne
            .wrappImg
              img(src="images/upload/sectionOne/present.png", alt="")
          .infoSectionOne
            .date 1 МАЯ - 31 ДЕКАБРЯ
            h2.actionText Новое поступление
            h2.nameProduct Витаминов и БАД
            .desc Самое время поднимать iммунитет!
            a.btn.btnMore(href="#")
              span ПОДРОБНЕЕ
              i.icon.icon-show-more
        .wrappPhoto
          .photosectionOne
            .wrappImg
              img(src="images/upload/sectionOne/slide3.png", alt="")
          .infoSectionOne
            .date 1 МАЯ - 31 ДЕКАБРЯ
            h2.actionText Новое поступление
            h2.nameProduct Витаминов и БАД
            .desc Самое время поднимать iммунитет!
            a.btn.btnMore(href="#")
              span ПОДРОБНЕЕ
              i.icon.icon-show-more

      .groupCard
        #sync2.owl-carousel
          .card
            .wrappImg
              img(src="images/upload/sectionOne/doctor_w_1.png", alt="Новое поступление Витаминов и БАД")
            .descCard
              .date 1 МАЯ - 31 ДЕКАБРЯ
              a.desc(href="#") Новое поступление Витаминов и БАД
          .card
            .wrappImg
              img(src="images/upload/sectionOne/kids.png", alt="Десткий праздник в аптеках Фармия")
            .descCard
              .date 17 МАЯ
              a.desc(href="") Десткий праздник в аптеках Фармия
          .card
            .wrappImg
              img(src="images/upload/sectionOne/present.png", alt="Подарок от Фармии в день рождения")
            .descCard
              .date 15 ИЮЛЯ
              a.desc(href="") Подарок от Фармии в день рождения
          .card
            .wrappImg
              img(src="images/upload/sectionOne/small-doctor-w-1.png", alt="Проверить здоровье в аптеке Фармия")
            .descCard
              .date 21 Мая
              a.desc(href="#") Проверить здоровье в аптеке Фармия




    .brendLineYellow
      .wrappContent.flexB
        .briefInfo
          i.icon.icon-plus
          span Более 60 аптек
        .briefInfo
          i.icon.icon-medical
          span Более 30 000 лекарств
        .briefInfo
          i.icon.icon-sert
          span Товары сертифицированы
        .briefInfo
          i.icon.icon-clock-2
          span Доставка лекарств
