mixin product
  a.product(href="#")
    .categoryName Для мужчин
    .description Аликапс для мужчин с характером Аликапс для мужчин с характером Аликапс для мужчин с характером
    .wrappImg
      img(src="images/upload/products/p1.png", alt="Аликапс для мужчин с характером")
    .priceGroup
      .newPrice 4 395,59 руб.
    .btn.btnBuy в корзину
  a.product(href="#")
    .stickerNew новинка
    .categoryName Уход за волосами
    .description Гель для волос Next Hair - рост и сила ваших волос
    .wrappImg
      img(src="images/upload/products/p2.png", alt="Гель для волос Next Hair - рост и сила ваших волос")
    .priceGroup
      .newPrice 3 499 руб.
      .oldPrice 3 299 руб.
    .btn.btnBuy в корзину
  a.product(href="#")
    .categoryName Для сна
    .description Таблетки срнник для сна и от растройства желудка
    .wrappImg
      img(src="images/upload/products/p3.png", alt="Таблетки срнник для сна и от растройства желудка")
    .priceGroup
      .newPrice 949 руб.
    .btn.btnBuy в корзину
  a.product(href="#")
    .categoryName Жаропонижающее
    .description Омеганол Аллицин капсулы
    .wrappImg
      img(src="images/upload/products/p4.png", alt="Омеганол Аллицин капсулы")

    .priceGroup
      .newPrice 7 584,32 руб.
    .btn.btnBuy в корзину
  a.product(href="#")
    .stickerStock акция
    .categoryName Венотонизирующие
    .description Мазь Лекарь с прополисом и травами
    .wrappImg
      img(src="images/upload/products/p5.png", alt="Мазь Лекарь с прополисом и травами")
    .priceGroup
      .newPrice 2 999 руб.
    .btn.btnBuy в корзину

mixin sectionTwo
  .sectionTwo
    .wrappContent
      .topSectionTwo.flexB
        h3 Лекарства по алфавиту
        ul.searchLetter
          -
            letter = ["А", "Б", "В", "Г", "Д", "Е", "Ж", "З", "И", "К", "Л", "М", "Н", "О", "П", "Р", "С", "Т", "У", "Ф", "Х", "Ц", "Ч", "Ш", "Щ", "Э", "Ю","Я"];
          each item in letter
            li
              a.lettersLink(href="##{item}")=item

      .baner
        a(href="#" title="Порциола")
          img(src="images/upload/sectionOne/baner-1.jpg", alt="")

      h3 Популярные товары

      .products
        +product
        +product
        +product

      .showMore показать еще



