mixin sectionThree
  .sectionThree
    .wrappContent
      .sliderReclama.owl-carousel
        - var x = 6;
          - for (var i=1; i<=x; i++)
              img(src="images/upload/slider/slide1.jpg", alt="")

      .brendDefaultLine
        .flexB
          .briefInfo
            i.icon.icon-timer
            .desc
              .title Быстрая доставка
              .description Доставим в течении часа или подарим скидку 10%
          .briefInfo
            i.icon.icon-bag-like-plus
            .desc
              .title Интимность покупки
              .description Все покупки доставляются в закрытых пакетах
          .briefInfo
            i.icon.icon-medal
            .desc
              .title Качественный сервис
              .description К вашим услугам лучшие фармацевты


  .personal
    .wrappContent
      h3 Наши специалисты
      .presonalWrapp.flexB
        .person
          .wrappImg
            img(src="images/upload/personal/person1.png", alt="Ходоркова Елена")
            .telperson
              span Задать Вопрос
              span 220-45-17
          .namePerson Ходоркова Елена

        .person
          .wrappImg
            img(src="images/upload/personal/person2.png", alt="Иванова Анастасия")
            .telperson
              span Задать Вопрос
              span 220-45-17
          .namePerson Иванова Анастасия
        .person
          .wrappImg
            img(src="images/upload/personal/person3.png", alt="Еремеева Алла")
            .telperson
              span Задать Вопрос
              span 220-45-17
          .namePerson Еремеева Алла
        .person
          .wrappImg
            img(src="images/upload/personal/person4.png", alt="Фамилия Антонина")
            .telperson
              span Задать Вопрос
              span 220-45-17
          .namePerson Фамилия Антонина
        .person
          .wrappImg
            img(src="images/upload/personal/person5.png", alt="Кравченко Анна")
            .telperson
              span Задать Вопрос
              span 220-45-17
          .namePerson Кравченко Анна

      .showMore показать еще

  .review
    .wrappContent
      h3 Отзывы клиентов
      .wrappReview.flexB
        .textRebiew
          .headTextRebiew
            .date 23.05.2017
            - for (var i=1; i<=5; i++)
              i.icon.icon-star
          p Не могла купить в аптеках Пепсан-Р. Здесь - без проблем. Почти всегда все есть в наличии и цены нормальные. Даже иногда ниже , чем в других аптеках. Порекомендовала пользоваться услугами интернет-аптеки своим друзьям. Спасибо!!!
        .textRebiew
          .headTextRebiew
            .date 23.05.2017
            - for (var i=1; i<=5; i++)
              i.icon.icon-star
          p Не могла купить в аптеках Пепсан-Р. Здесь - без проблем. Почти всегда все есть в наличии и цены нормальные. Даже иногда ниже , чем в других аптеках. Порекомендовала пользоваться услугами интернет-аптеки своим друзьям. Спасибо!!!
        .textRebiew
          .headTextRebiew
            .date 23.05.2017
            - for (var i=1; i<=5; i++)
              i.icon.icon-star
          p Не могла купить в аптеках Пепсан-Р. Здесь - без проблем. Почти всегда все есть в наличии и цены нормальные. Даже иногда ниже , чем в других аптеках. Порекомендовала пользоваться услугами интернет-аптеки своим друзьям. Спасибо!!!
        .textRebiew
          .headTextRebiew
            .date 23.05.2017
            - for (var i=1; i<=5; i++)
              i.icon.icon-star
          p Не могла купить в аптеках Пепсан-Р. Здесь - без проблем. Почти всегда все есть в наличии и цены нормальные. Даже иногда ниже , чем в других аптеках. Порекомендовала пользоваться услугами интернет-аптеки своим друзьям. Спасибо!!!
      .showMore показать еще

  .newsPosts
    .wrappContent.flexB
      .news
        h3 Новости
        .newContet
          .wrappImg
            img(src="images/upload/newspost/new1.jpg", alt="")
          .description
            h5 Врачи рекомендуют: кефир необходимо пить зимой
            p Если у вас нет противопоказаний к употреблению этого напитка, обязательно включите кефир в свой рацион зимой. Медики указывают на то, что кисломолочные продукты обладают целым рядом свойств, полезнейших для ослабленного организма.
            a.readMore(href="#") Читать далее
        .newContet
          .wrappImg
            img(src="images/upload/newspost/new1.jpg", alt="")
          .description
            h5 Врачи рекомендуют: кефир необходимо пить зимой
            p Если у вас нет противопоказаний к употреблению этого напитка, обязательно включите кефир в свой рацион зимой. Медики указывают на то, что кисломолочные продукты обладают целым рядом свойств, полезнейших для ослабленного организма.
            a.readMore(href="#") Читать далее
        .showMore показать еще

      .posts
        h3 Статьи
        .newContet
          .wrappImg
            img(src="images/upload/newspost/post1.jpg", alt="")
          .description
            h5 Врачи рекомендуют: кефир необходимо пить зимой
            p Если у вас нет противопоказаний к употреблению этого напитка, обязательно включите кефир в свой рацион зимой. Медики указывают на то, что кисломолочные продукты обладают целым рядом свойств, полезнейших для ослабленного организма.
            a.readMore(href="#") Читать далее
        .newContet
          .wrappImg
            img(src="images/upload/newspost/post1.jpg", alt="")
          .description
            h5 Врачи рекомендуют: кефир необходимо пить зимой
            p Если у вас нет противопоказаний к употреблению этого напитка, обязательно включите кефир в свой рацион зимой. Медики указывают на то, что кисломолочные продукты обладают целым рядом свойств, полезнейших для ослабленного организма.
            a.readMore(href="#") Читать далее
        .showMore показать еще


  .brendWhiteLine.wrappContent
    .flexB
      .mail
        i.icon.icon-mail
      .textInfo Скидки для подписчиков
      .inputWrapp
        input(type="text" placeholder="Как Вас зовут?")
        .help-block Error
      .inputWrapp
        input(type="email" placeholder="Ваш e-mail")
        .help-block Error
      .btn.btnBlue ПОДПИСАТЬСЯ

  .aboutPharmacy
    .wrappContent
      h3 Об аптеке
      .contentAboutPharmacy
        p Пилюли.ру – это интернет-аптека и удобная единая справочная система в Москве, в результате сотрудничества с которой процесс покупки медикаментов превращается в простое и удобное занятие. В нашем магазине можно недорого купить через интернет лекарственные препараты, а также товары медицинского назначения в удобное для вас время.

        p Мы предлагаем оптом и в розницу таблетки, средства гигиены, а также лучшую продукцию для мам и малышей, произведенные ведущими фармацевтическими компаниями России, Индии, Китая, Германии, Франции.

        p Компания Пилюли.ру осуществляет самовывоз из 400 аптек города Москвы и области надежно, выгодно и недорого, экономя, таким образом, ваши время и деньги.

        p Как найти нужные медикаменты через справку аптеки Пилюли.ру

        p В базу данных сайта аптеки Пилюли.ру включено более 30 000 редких и распространенных лекарственных препаратов. Однако, это не мешает нашим клиентам быстро находить искомые товарные позиции. Используя строку поиска, расположенную на главной странице интернет-магазина, вы можете за считанные секунды: