.menu
  border-bottom: solid 1px #44d654
  height: auto
  display: flex
  background-color: #fff
  align-items: center
  .wrappMenu
    display: none

  .link
    display: inline-block
    text-decoration: none
    color: #151f2f
    font-family: $brendFontBold
    font-size: 17px
    transition: all .35s
    padding-bottom: 5px
    border-bottom: solid 2px transparent
    font-weight: 700

    &:hover
      color: #1f4ba5
      border-bottom: solid 2px #1f4ba5


  .catalogProductsMenu
    background-color: #fff
    width: 100%
    min-height: 442px
    position: absolute
    top: 190px
    z-index: 112

    left: 0
    display: none
    ul, ul li
      margin: 0
      padding: 0
      border: 0
      list-style: none
      line-height: 1
      display: block
      width: 276px

    ul
      padding-top: 25px
      position: relative

    ul ul

      position: relative
      // left: 100%
      // top: 10px
      // width: 950px
      color: #fff
      display: block
      float: left
      &:nth-of-type(2)
        // left: 200%
        margin-left: 67px
      &:nth-of-type(3)
        // left: 300%
        margin-left: 73px
    .wrapp-ul
      // display: block
      display: none
      min-height: 442px
      width: 1050px
      position: absolute
      left: 100%
      top: 10px
      &.active
        display: block
    .has-sub
      a

        display: flex
        align-items: center
      &.active
        span
          color: #1f4ba5
      .icon-arrow-right
        +sprite($arrow-down-black)
        transform: rotate(-90deg)
        right: 40px
        position: absolute

      &:hover
        left: auto
        // .wrapp-ul
          // display: block

    ul li a
      position: relative
      color: #151f2f
      font-family: $Roboto
      font-size: 17px
      font-weight: 700
      line-height: 35px
      text-decoration: none
      // &:hover
      //   color: #1f4ba5

    ul ul li
      margin-right: 80px
      float: left
      margin-bottom: 10px
      width: 272px
      padding: 5px
      transition: background .22s
      &:hover
        background-color: #f2f2f2
    ul ul li a
      color: #222
      font-family: $defaultFont
      font-size: 15px
      font-weight: 600
      line-height: 18px
      // &:hover
      //   color: #1f4ba5

  // acardion ==================================================================
  #accordian
    background: #004050
    width: 100%
    margin: 0 auto
    color: white
    position: relative
    // position: absolute
    // top: 294px
    h3
      background: #fff
      border-bottom: solid 1px rgba(34, 34, 34, 0.28);
      a
        padding: 0 10px
        font-size: 12px
        line-height: 34px
        display: block
        color: #222
        text-decoration: none
      &:hover
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.7)

  #accordian
    li
      list-style-type: none
      background: rgba(255, 255, 255, 0.65)
    ul ul li a, h4
      color: #222
      text-decoration: none
      font-size: 11px
      line-height: 27px
      display: block
      padding: 0 15px
      transition: all 0.15s
      position: relative
    ul ul
      li a:hover
        background: #acc4cc
        border-left: 5px solid lightgreen
      display: none
    li.active > ul
      display: block
    ul ul ul
      margin-left: 15px
      border-left: 1px dotted rgba(0, 0, 0, 0.5)
    a:not(:only-child):after,
    .active > a:not(:only-child):after

      font-size: 30px
      content: ''
      vertical-align: middle
      display: inline-block
      background-image: url("../svg/sprite.svg")
      background-repeat: no-repeat
      background-size: 3.5em 12.366666666666667em
      background-position: -0.16666666666666666em -0.6666666666666666em
      width: 9px
      height: 5px
      position: absolute
      right: 20px
      top: 0
      bottom: 0
      margin: auto
    .active > a:not(:only-child):after
      transform: rotate(180deg)


    .dropDown
      position: relative
      &:after
        font-size: 30px
        content: ''
        vertical-align: middle
        display: inline-block
        background-image: url("../svg/sprite.svg")
        background-repeat: no-repeat
        background-size: 3.5em 12.366666666666667em
        background-position: -0.16666666666666666em -0.6666666666666666em
        width: 9px
        height: 5px
        position: absolute
        right: 20px
        top: 14px

// burger---------------------------------------------------------------------
.burger-menu
  position: relative
  width: 40px
  height: 40px
  padding: 10px
  cursor: pointer
  position: absolute
  left: 20px
  top: 0
  bottom: 0
  margin: auto

.burger
  position: absolute
  background: rgba(111, 111, 111, 1)
  width: 100%
  height: 4px
  top: 50%
  right: 0px
  margin-top: -5px
  opacity: 1
  &::before
    position: absolute
    background: rgba(111, 111, 111, 1)
    width: 100%
    height: 4px
    top: 12px
    content: ""
    display: block
  &::after
    position: absolute
    background: rgba(111, 111, 111, 1)
    width: 100%
    height: 4px
    bottom: 12px
    content: ""
    display: block
    transition: all .1s ease-in-out

  &::before
    transition: all .1s ease-in-out

  transition: all .1s ease-in-out


.burger-menu
  &.menu-on .burger
    &::after
      transform: rotate(-45deg)
      bottom: 0px
    &::before
      transform: rotate(45deg)
      top: 0px
    background: rgba(111, 111, 111, 0)



@media #{$xMedium}
  .menu
    height: 60px
    .wrappMenu
      display: flex
      justify-content: space-between;
    .catalogProductsMenu
      &.fixed
        position: fixed
        top: 55px
      .wrapp-ul
        justify-content: space-between
        max-width: 1000px
        width: 100%
        &.active
          display: flex
      ul ul li
        margin-right: 10px
      ul ul
        margin-left: 0
        &:nth-of-type(2),
        &:nth-of-type(3)
          margin-left: 20px

    #accordian
      display: none