.products
  display: flex
  // justify-content: space-between
  flex-flow: wrap
  padding-top: 38px
  .product
    position: relative
    display: block
    width: 230px
    height: 440px
    background-color: white
    padding: 37px 20px 37px 20px
    margin-bottom: 20px
    margin-right: 20px
    will-change: auto
    transition: all .35s ease-in-out
    text-decoration: none
    cursor: pointer
    &:nth-child(5n)
      margin-right: 0
    &:hover
      transform: scale(1.04)
      .wrappImg
        transform: scale(1.1)
      .btnBuy
        opacity: 1
        visibility: visible
      .priceGroup
        opacity: 0
        visibility: hidden
    .stickerNew
      position: absolute
      top: 10px
      padding: 4px 6px
      height: 15px
      left: 11px
      background-color: #44d654
      border-radius: 5px
      color: white
      font-family: $defaultFont
      font-size: 9px
      font-weight: 600
      text-transform: uppercase

    .stickerStock
      @extend .stickerNew
      background-color: #febe10

    .categoryName
      color: #1f4ba5
      font-family: $defaultFont
      font-size: 13px
      font-weight: 600
      margin-bottom: 16px

    .description
      height: 32px
      color: #222
      font-family: $defaultFont
      font-size: 15px
      font-weight: 600
      line-height: 18px
      overflow: hidden
      margin-bottom: 66px

    .wrappImg
      text-align: center
      height: 185px
      display: flex
      justify-content: center
      align-items: center
      align-content: center
      will-change: auto
      transition: transform .35s


  .product
    .priceGroup
      display: flex
      position: absolute
      bottom: 38px
      opacity: 1
      visibility: visible
      letter-spacing: 1px
      left: 25px
      .newPrice
        color: #009110
        font-family: $defaultFont
        font-size: 15px
        font-weight: 600
        margin: 0 17px 0 20px
      .oldPrice
        position: relative
        height: 11px
        color: #febe10
        font-family: Roboto
        font-size: 11px
        font-weight: 700
        display: inline-block
        &:before
          content: ''
          height: 1px
          top: 50%
          left: 0
          right: 0
          background-color: grey
          position: absolute