.icon {
    font-size: 30px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../svg/sprite.svg");
      background-repeat: no-repeat;
      background-size: 3.5em 12.366666666666667em;

      .no-svg & {
        background-image: url("../svg/sprite.png");
      }
    }
}




.icon.arrow-dwon {
  &:before {
      background-position: -0.16666666666666666em -0.16666666666666666em;
      width: 0.3em;
      height: 0.16666666666666666em;
    }
  }

  @mixin icon-arrow-dwon(){
    @extend .arrow-dwon;
  }


.icon.i-arrow-black-dwon {
  &:before {
      background-position: -0.16666666666666666em -0.6666666666666666em;
      width: 0.3em;
      height: 0.16666666666666666em;
    }
  }

  @mixin icon-i-arrow-black-dwon(){
    @extend .i-arrow-black-dwon;
  }


.icon.i-cart {
  &:before {
      background-position: -0.16666666666666666em -1.1666666666666667em;
      width: 0.5333333333333333em;
      height: 0.4666666666666667em;
    }
  }

  @mixin icon-i-cart(){
    @extend .i-cart;
  }


.icon.medal {
  &:before {
      background-position: -0.16666666666666666em -1.9666666666666668em;
      width: 1.9666666666666666em;
      height: 2.7em;
    }
  }

  @mixin icon-medal(){
    @extend .medal;
  }


.icon.pin {
  &:before {
      background-position: -0.16666666666666666em -5em;
      width: 0.36666666666666664em;
      height: 0.6em;
    }
  }

  @mixin icon-pin(){
    @extend .pin;
  }


.icon.plus {
  &:before {
      background-position: -0.16666666666666666em -5.933333333333334em;
      width: 1.6666666666666667em;
      height: 1.6666666666666667em;
    }
  }

  @mixin icon-plus(){
    @extend .plus;
  }


.icon.search-icon {
  &:before {
      background-position: -0.16666666666666666em -7.933333333333334em;
      width: 0.5em;
      height: 0.5em;
    }
  }

  @mixin icon-search-icon(){
    @extend .search-icon;
  }


.icon.show-more {
  &:before {
      background-position: -0.16666666666666666em -8.766666666666666em;
      width: 0.2em;
      height: 0.4em;
    }
  }

  @mixin icon-show-more(){
    @extend .show-more;
  }


.icon.timer {
  &:before {
      background-position: -0.16666666666666666em -9.5em;
      width: 3.1666666666666665em;
      height: 2.7em;
    }
  }

  @mixin icon-timer(){
    @extend .timer;
  }



