/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-down-black-name: 'arrow-down-black'
$arrow-down-black-x: 223px
$arrow-down-black-y: 135px
$arrow-down-black-offset-x: -223px
$arrow-down-black-offset-y: -135px
$arrow-down-black-width: 9px
$arrow-down-black-height: 5px
$arrow-down-black-total-width: 278px
$arrow-down-black-total-height: 257px
$arrow-down-black-image: '../images/icons/sprite.png'
$arrow-down-black: (223px, 135px, -223px, -135px, 9px, 5px, 278px, 257px, '../images/icons/sprite.png', 'arrow-down-black', )
$arrow-dwon-name: 'arrow-dwon'
$arrow-dwon-x: 223px
$arrow-dwon-y: 130px
$arrow-dwon-offset-x: -223px
$arrow-dwon-offset-y: -130px
$arrow-dwon-width: 9px
$arrow-dwon-height: 5px
$arrow-dwon-total-width: 278px
$arrow-dwon-total-height: 257px
$arrow-dwon-image: '../images/icons/sprite.png'
$arrow-dwon: (223px, 130px, -223px, -130px, 9px, 5px, 278px, 257px, '../images/icons/sprite.png', 'arrow-dwon', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 227px
$arrow-right-y: 72px
$arrow-right-offset-x: -227px
$arrow-right-offset-y: -72px
$arrow-right-width: 5px
$arrow-right-height: 9px
$arrow-right-total-width: 278px
$arrow-right-total-height: 257px
$arrow-right-image: '../images/icons/sprite.png'
$arrow-right: (227px, 72px, -227px, -72px, 5px, 9px, 278px, 257px, '../images/icons/sprite.png', 'arrow-right', )
$bag-like-plus-name: 'bag-like-plus'
$bag-like-plus-x: 95px
$bag-like-plus-y: 0px
$bag-like-plus-offset-x: -95px
$bag-like-plus-offset-y: 0px
$bag-like-plus-width: 78px
$bag-like-plus-height: 80px
$bag-like-plus-total-width: 278px
$bag-like-plus-total-height: 257px
$bag-like-plus-image: '../images/icons/sprite.png'
$bag-like-plus: (95px, 0px, -95px, 0px, 78px, 80px, 278px, 257px, '../images/icons/sprite.png', 'bag-like-plus', )
$cancel-white-name: 'cancel-white'
$cancel-white-x: 233px
$cancel-white-y: 180px
$cancel-white-offset-x: -233px
$cancel-white-offset-y: -180px
$cancel-white-width: 30px
$cancel-white-height: 30px
$cancel-white-total-width: 278px
$cancel-white-total-height: 257px
$cancel-white-image: '../images/icons/sprite.png'
$cancel-white: (233px, 180px, -233px, -180px, 30px, 30px, 278px, 257px, '../images/icons/sprite.png', 'cancel-white', )
$cancel-name: 'cancel'
$cancel-x: 198px
$cancel-y: 162px
$cancel-offset-x: -198px
$cancel-offset-y: -162px
$cancel-width: 30px
$cancel-height: 30px
$cancel-total-width: 278px
$cancel-total-height: 257px
$cancel-image: '../images/icons/sprite.png'
$cancel: (198px, 162px, -198px, -162px, 30px, 30px, 278px, 257px, '../images/icons/sprite.png', 'cancel', )
$cart-green-name: 'cart-green'
$cart-green-x: 94px
$cart-green-y: 141px
$cart-green-offset-x: -94px
$cart-green-offset-y: -141px
$cart-green-width: 16px
$cart-green-height: 14px
$cart-green-total-width: 278px
$cart-green-total-height: 257px
$cart-green-image: '../images/icons/sprite.png'
$cart-green: (94px, 141px, -94px, -141px, 16px, 14px, 278px, 257px, '../images/icons/sprite.png', 'cart-green', )
$cart-white-name: 'cart-white'
$cart-white-x: 110px
$cart-white-y: 141px
$cart-white-offset-x: -110px
$cart-white-offset-y: -141px
$cart-white-width: 16px
$cart-white-height: 14px
$cart-white-total-width: 278px
$cart-white-total-height: 257px
$cart-white-image: '../images/icons/sprite.png'
$cart-white: (110px, 141px, -110px, -141px, 16px, 14px, 278px, 257px, '../images/icons/sprite.png', 'cart-white', )
$clock-2-name: 'clock-2'
$clock-2-x: 148px
$clock-2-y: 162px
$clock-2-offset-x: -148px
$clock-2-offset-y: -162px
$clock-2-width: 50px
$clock-2-height: 48px
$clock-2-total-width: 278px
$clock-2-total-height: 257px
$clock-2-image: '../images/icons/sprite.png'
$clock-2: (148px, 162px, -148px, -162px, 50px, 48px, 278px, 257px, '../images/icons/sprite.png', 'clock-2', )
$close-green-name: 'close-green'
$close-green-x: 223px
$close-green-y: 120px
$close-green-offset-x: -223px
$close-green-offset-y: -120px
$close-green-width: 10px
$close-green-height: 10px
$close-green-total-width: 278px
$close-green-total-height: 257px
$close-green-image: '../images/icons/sprite.png'
$close-green: (223px, 120px, -223px, -120px, 10px, 10px, 278px, 257px, '../images/icons/sprite.png', 'close-green', )
$facebook-logo-button-name: 'facebook-logo-button'
$facebook-logo-button-x: 45px
$facebook-logo-button-y: 212px
$facebook-logo-button-offset-x: -45px
$facebook-logo-button-offset-y: -212px
$facebook-logo-button-width: 45px
$facebook-logo-button-height: 45px
$facebook-logo-button-total-width: 278px
$facebook-logo-button-total-height: 257px
$facebook-logo-button-image: '../images/icons/sprite.png'
$facebook-logo-button: (45px, 212px, -45px, -212px, 45px, 45px, 278px, 257px, '../images/icons/sprite.png', 'facebook-logo-button', )
$flag-rus-name: 'flag-rus'
$flag-rus-x: 156px
$flag-rus-y: 141px
$flag-rus-offset-x: -156px
$flag-rus-offset-y: -141px
$flag-rus-width: 16px
$flag-rus-height: 12px
$flag-rus-total-width: 278px
$flag-rus-total-height: 257px
$flag-rus-image: '../images/icons/sprite.png'
$flag-rus: (156px, 141px, -156px, -141px, 16px, 12px, 278px, 257px, '../images/icons/sprite.png', 'flag-rus', )
$hand-pointer-name: 'hand-pointer'
$hand-pointer-x: 173px
$hand-pointer-y: 60px
$hand-pointer-offset-x: -173px
$hand-pointer-offset-y: -60px
$hand-pointer-width: 54px
$hand-pointer-height: 60px
$hand-pointer-total-width: 278px
$hand-pointer-total-height: 257px
$hand-pointer-image: '../images/icons/sprite.png'
$hand-pointer: (173px, 60px, -173px, -60px, 54px, 60px, 278px, 257px, '../images/icons/sprite.png', 'hand-pointer', )
$instagram-logo-name: 'instagram-logo'
$instagram-logo-x: 233px
$instagram-logo-y: 90px
$instagram-logo-offset-x: -233px
$instagram-logo-offset-y: -90px
$instagram-logo-width: 45px
$instagram-logo-height: 45px
$instagram-logo-total-width: 278px
$instagram-logo-total-height: 257px
$instagram-logo-image: '../images/icons/sprite.png'
$instagram-logo: (233px, 90px, -233px, -90px, 45px, 45px, 278px, 257px, '../images/icons/sprite.png', 'instagram-logo', )
$login-white-name: 'login-white'
$login-white-x: 141px
$login-white-y: 141px
$login-white-offset-x: -141px
$login-white-offset-y: -141px
$login-white-width: 15px
$login-white-height: 13px
$login-white-total-width: 278px
$login-white-total-height: 257px
$login-white-image: '../images/icons/sprite.png'
$login-white: (141px, 141px, -141px, -141px, 15px, 13px, 278px, 257px, '../images/icons/sprite.png', 'login-white', )
$login-name: 'login'
$login-x: 126px
$login-y: 141px
$login-offset-x: -126px
$login-offset-y: -141px
$login-width: 15px
$login-height: 13px
$login-total-width: 278px
$login-total-height: 257px
$login-image: '../images/icons/sprite.png'
$login: (126px, 141px, -126px, -141px, 15px, 13px, 278px, 257px, '../images/icons/sprite.png', 'login', )
$mail-big-name: 'mail-big'
$mail-big-x: 173px
$mail-big-y: 120px
$mail-big-offset-x: -173px
$mail-big-offset-y: -120px
$mail-big-width: 50px
$mail-big-height: 36px
$mail-big-total-width: 278px
$mail-big-total-height: 257px
$mail-big-image: '../images/icons/sprite.png'
$mail-big: (173px, 120px, -173px, -120px, 50px, 36px, 278px, 257px, '../images/icons/sprite.png', 'mail-big', )
$medal-name: 'medal'
$medal-x: 0px
$medal-y: 81px
$medal-offset-x: 0px
$medal-offset-y: -81px
$medal-width: 59px
$medal-height: 81px
$medal-total-width: 278px
$medal-total-height: 257px
$medal-image: '../images/icons/sprite.png'
$medal: (0px, 81px, 0px, -81px, 59px, 81px, 278px, 257px, '../images/icons/sprite.png', 'medal', )
$medical-name: 'medical'
$medical-x: 100px
$medical-y: 162px
$medical-offset-x: -100px
$medical-offset-y: -162px
$medical-width: 48px
$medical-height: 50px
$medical-total-width: 278px
$medical-total-height: 257px
$medical-image: '../images/icons/sprite.png'
$medical: (100px, 162px, -100px, -162px, 48px, 50px, 278px, 257px, '../images/icons/sprite.png', 'medical', )
$odnoklassniki-logo-name: 'odnoklassniki-logo'
$odnoklassniki-logo-x: 0px
$odnoklassniki-logo-y: 212px
$odnoklassniki-logo-offset-x: 0px
$odnoklassniki-logo-offset-y: -212px
$odnoklassniki-logo-width: 45px
$odnoklassniki-logo-height: 45px
$odnoklassniki-logo-total-width: 278px
$odnoklassniki-logo-total-height: 257px
$odnoklassniki-logo-image: '../images/icons/sprite.png'
$odnoklassniki-logo: (0px, 212px, 0px, -212px, 45px, 45px, 278px, 257px, '../images/icons/sprite.png', 'odnoklassniki-logo', )
$pin-name: 'pin'
$pin-x: 198px
$pin-y: 192px
$pin-offset-x: -198px
$pin-offset-y: -192px
$pin-width: 11px
$pin-height: 18px
$pin-total-width: 278px
$pin-total-height: 257px
$pin-image: '../images/icons/sprite.png'
$pin: (198px, 192px, -198px, -192px, 11px, 18px, 278px, 257px, '../images/icons/sprite.png', 'pin', )
$plus-name: 'plus'
$plus-x: 50px
$plus-y: 162px
$plus-offset-x: -50px
$plus-offset-y: -162px
$plus-width: 50px
$plus-height: 50px
$plus-total-width: 278px
$plus-total-height: 257px
$plus-image: '../images/icons/sprite.png'
$plus: (50px, 162px, -50px, -162px, 50px, 50px, 278px, 257px, '../images/icons/sprite.png', 'plus', )
$present-white-name: 'present-white'
$present-white-x: 173px
$present-white-y: 0px
$present-white-offset-x: -173px
$present-white-offset-y: 0px
$present-white-width: 60px
$present-white-height: 60px
$present-white-total-width: 278px
$present-white-total-height: 257px
$present-white-image: '../images/icons/sprite.png'
$present-white: (173px, 0px, -173px, 0px, 60px, 60px, 278px, 257px, '../images/icons/sprite.png', 'present-white', )
$procent-name: 'procent'
$procent-x: 59px
$procent-y: 81px
$procent-offset-x: -59px
$procent-offset-y: -81px
$procent-width: 60px
$procent-height: 60px
$procent-total-width: 278px
$procent-total-height: 257px
$procent-image: '../images/icons/sprite.png'
$procent: (59px, 81px, -59px, -81px, 60px, 60px, 278px, 257px, '../images/icons/sprite.png', 'procent', )
$register-blue-name: 'register-blue'
$register-blue-x: 79px
$register-blue-y: 141px
$register-blue-offset-x: -79px
$register-blue-offset-y: -141px
$register-blue-width: 15px
$register-blue-height: 15px
$register-blue-total-width: 278px
$register-blue-total-height: 257px
$register-blue-image: '../images/icons/sprite.png'
$register-blue: (79px, 141px, -79px, -141px, 15px, 15px, 278px, 257px, '../images/icons/sprite.png', 'register-blue', )
$register-name: 'register'
$register-x: 263px
$register-y: 195px
$register-offset-x: -263px
$register-offset-y: -195px
$register-width: 15px
$register-height: 15px
$register-total-width: 278px
$register-total-height: 257px
$register-image: '../images/icons/sprite.png'
$register: (263px, 195px, -263px, -195px, 15px, 15px, 278px, 257px, '../images/icons/sprite.png', 'register', )
$rocket-ship-name: 'rocket-ship'
$rocket-ship-x: 119px
$rocket-ship-y: 81px
$rocket-ship-offset-x: -119px
$rocket-ship-offset-y: -81px
$rocket-ship-width: 45px
$rocket-ship-height: 60px
$rocket-ship-total-width: 278px
$rocket-ship-total-height: 257px
$rocket-ship-image: '../images/icons/sprite.png'
$rocket-ship: (119px, 81px, -119px, -81px, 45px, 60px, 278px, 257px, '../images/icons/sprite.png', 'rocket-ship', )
$search-name: 'search'
$search-x: 263px
$search-y: 180px
$search-offset-x: -263px
$search-offset-y: -180px
$search-width: 15px
$search-height: 15px
$search-total-width: 278px
$search-total-height: 257px
$search-image: '../images/icons/sprite.png'
$search: (263px, 180px, -263px, -180px, 15px, 15px, 278px, 257px, '../images/icons/sprite.png', 'search', )
$sert-name: 'sert'
$sert-x: 0px
$sert-y: 162px
$sert-offset-x: 0px
$sert-offset-y: -162px
$sert-width: 50px
$sert-height: 50px
$sert-total-width: 278px
$sert-total-height: 257px
$sert-image: '../images/icons/sprite.png'
$sert: (0px, 162px, 0px, -162px, 50px, 50px, 278px, 257px, '../images/icons/sprite.png', 'sert', )
$show-more-name: 'show-more'
$show-more-x: 227px
$show-more-y: 60px
$show-more-offset-x: -227px
$show-more-offset-y: -60px
$show-more-width: 6px
$show-more-height: 12px
$show-more-total-width: 278px
$show-more-total-height: 257px
$show-more-image: '../images/icons/sprite.png'
$show-more: (227px, 60px, -227px, -60px, 6px, 12px, 278px, 257px, '../images/icons/sprite.png', 'show-more', )
$star-name: 'star'
$star-x: 59px
$star-y: 141px
$star-offset-x: -59px
$star-offset-y: -141px
$star-width: 20px
$star-height: 20px
$star-total-width: 278px
$star-total-height: 257px
$star-image: '../images/icons/sprite.png'
$star: (59px, 141px, -59px, -141px, 20px, 20px, 278px, 257px, '../images/icons/sprite.png', 'star', )
$timer-name: 'timer'
$timer-x: 0px
$timer-y: 0px
$timer-offset-x: 0px
$timer-offset-y: 0px
$timer-width: 95px
$timer-height: 81px
$timer-total-width: 278px
$timer-total-height: 257px
$timer-image: '../images/icons/sprite.png'
$timer: (0px, 0px, 0px, 0px, 95px, 81px, 278px, 257px, '../images/icons/sprite.png', 'timer', )
$twitter-logo-button-name: 'twitter-logo-button'
$twitter-logo-button-x: 233px
$twitter-logo-button-y: 0px
$twitter-logo-button-offset-x: -233px
$twitter-logo-button-offset-y: 0px
$twitter-logo-button-width: 45px
$twitter-logo-button-height: 45px
$twitter-logo-button-total-width: 278px
$twitter-logo-button-total-height: 257px
$twitter-logo-button-image: '../images/icons/sprite.png'
$twitter-logo-button: (233px, 0px, -233px, 0px, 45px, 45px, 278px, 257px, '../images/icons/sprite.png', 'twitter-logo-button', )
$vk-social-logotype-name: 'vk-social-logotype'
$vk-social-logotype-x: 233px
$vk-social-logotype-y: 45px
$vk-social-logotype-offset-x: -233px
$vk-social-logotype-offset-y: -45px
$vk-social-logotype-width: 45px
$vk-social-logotype-height: 45px
$vk-social-logotype-total-width: 278px
$vk-social-logotype-total-height: 257px
$vk-social-logotype-image: '../images/icons/sprite.png'
$vk-social-logotype: (233px, 45px, -233px, -45px, 45px, 45px, 278px, 257px, '../images/icons/sprite.png', 'vk-social-logotype', )
$youtube-logotype-name: 'youtube-logotype'
$youtube-logotype-x: 233px
$youtube-logotype-y: 135px
$youtube-logotype-offset-x: -233px
$youtube-logotype-offset-y: -135px
$youtube-logotype-width: 45px
$youtube-logotype-height: 45px
$youtube-logotype-total-width: 278px
$youtube-logotype-total-height: 257px
$youtube-logotype-image: '../images/icons/sprite.png'
$youtube-logotype: (233px, 135px, -233px, -135px, 45px, 45px, 278px, 257px, '../images/icons/sprite.png', 'youtube-logotype', )
$spritesheet-width: 278px
$spritesheet-height: 257px
$spritesheet-image: '../images/icons/sprite.png'
$spritesheet-sprites: ($arrow-down-black, $arrow-dwon, $arrow-right, $bag-like-plus, $cancel-white, $cancel, $cart-green, $cart-white, $clock-2, $close-green, $facebook-logo-button, $flag-rus, $hand-pointer, $instagram-logo, $login-white, $login, $mail-big, $medal, $medical, $odnoklassniki-logo, $pin, $plus, $present-white, $procent, $register-blue, $register, $rocket-ship, $search, $sert, $show-more, $star, $timer, $twitter-logo-button, $vk-social-logotype, $youtube-logotype, )
$spritesheet: (278px, 257px, '../images/icons/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
