@import variables

*
  outline: none
  box-sizing: border-box
  &:before
    box-sizing: border-box

html
  width: 100%
  height: 100%
  font-size: 18px
  font-family: $defaultFont
  color: $defaultColor
  font-weight: 400
  word-wrap: break-word
  overflow-wrap: break-word


body
  width: 100%
  height: 100%
  font-family: inherit
  color: inherit
  min-height: 100%
  height: auto
  max-width: 100%
  min-width: 320px
  background-color: #f6f6f6
  overflow-y: auto
  overflow-x: hidden
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

h1
  color: white
  font-size: 34px
  font-weight: 500

h3
  color: #222
  font-family: $Roboto
  font-size: 30px
  font-weight: 400
  line-height: 36px
  letter-spacing: 1px

h4
  color: white
  font-size: 18px
  font-weight: 500
  font-family: $brendFont

h5
  color: #222
  font-family: $defaultFont
  font-size: 15px
  font-weight: 600
  line-height: 18px

p
  font-size: 18px
  font-weight: 400
  line-height: normal
img
  max-width: 100%
  height: auto
  -ms-interpolation-mode: bicubic
  display: inline-block
  vertical-align: middle

iframe
    width: 100%
    height: 100%
// a
//   &:visited
//     color: inherit

input, textarea
  border: none
  width: 100%
  font-size: 15px
  font-family: $defaultFont
  // height: 50px
  // border-bottom: solid 1px #e1e1e1
  // width: 205px
  // font-size: 16px

textarea
  color: #909090

input.error
  border-bottom: solid 2px #ee6e73

input[placeholder]
  text-overflow: ellipsis

input::-moz-placeholder
  text-overflow: ellipsis
input:-moz-placeholder
  text-overflow: ellipsis
input:-ms-input-placeholder
  text-overflow: ellipsis

input::-webkit-input-placeholder
  font-family: $defaultFont
  color: #909090
  font-size: 15px
  font-weight: 400
  // line-height: 50px

input::-moz-placeholder
  font-family: $defaultFont
  color: #909090
  font-size: 15px
  font-weight: 400
  // line-height: 50px
input:-moz-placeholder
  font-family: $defaultFont
  color: #909090
  font-size: 15px
  font-weight: 400
  // line-height: 50px
input:-ms-input-placeholder
  color: #909090
  font-family: $defaultFont
  font-size: 15px
  font-weight: 400

/* Radio Buttons
   ========================================================================== */

// Remove default Radio Buttons
[type="radio"]:not(:checked),
[type="radio"]:checked
  position: absolute
  left: -9999px
  opacity: 0


[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label
  position: relative
  padding-left: 35px
  cursor: pointer
  display: inline-block
  height: 25px
  line-height: 25px
  font-size: 1rem
  transition: .28s ease

  -khtml-user-select: none /* webkit (konqueror) browsers */
  user-select: none


[type="radio"] + label:before,
[type="radio"] + label:after
  content: ''
  position: absolute
  left: 0
  top: 0
  margin: 4px
  width: 16px
  height: 16px
  z-index: 0
  transition: .28s ease


/* Unchecked styles */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:after
  border-radius: 50%


[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after
  border: 2px solid #222


[type="radio"]:not(:checked) + label:after
  z-index: -1
  transform: scale(0)


/* Checked styles */
[type="radio"]:checked + label:before
  border: 2px solid transparent


[type="radio"]:checked + label:after,
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:after
  border: 2px solid blue


[type="radio"]:checked + label:after,
[type="radio"]:checked + label:after
  background-color: blue
  z-index: 0


[type="radio"]:checked + label:after
  transform: scale(.5)

.flexB
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
  width: 100%

.wrappContent
  margin: 0 auto
  max-width: 1230px
  width: 100%
  padding: 0 20px
  @media #{$xMedium}
    padding: 0

.linkDefault
  transition: color .35s
  text-decoration: none
  span
    transition: color .35s
  &:hover
    color: #1f4ba5
    span
      color: #1f4ba5
svg
  display: inline-block
  width: 2rem
  height: 2rem
  overflow: visible

.help-block
  color: #F44336
  transition: .2s opacity ease-out, .2s color ease-out
  // padding: 5px
  font-size: 14px
  position: absolute
  display: none
  &.active
    display: block


.overlayDropDown
  position: fixed
  display: none
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: transparent
  z-index: 111
  // opacity: 0
  &.active
    display: block

.simplebar-track
  background-color: #fff
.simplebar-scroll-content
  width: 100%!important

@keyframes photo
  0%
    transform: translateX(550px)
    opacity: 0
  100%
    transform: translateX(0px)
    opacity: 1

@import _spritePng
//fix hove
// @import vendors/_mixin
// @import _sprite
@import _header
@import _menu

@import _modal


@import _carusels
@import _smallPopupCart
@import _buttons
@import _acardion
@import _product
@import _personal
@import _review

@import home/_sectionOne
@import home/_sectionTwo
@import home/_sectionThree

@import _footer


@import indexTwo
.icon
  position: relative
  &:before
    position: absolute
    top: 0
    left: 0
    content: ''
