.sectionOne
  min-height: 536px
  width: 100%
  position: relative
  .wrappContent
    padding: 0
  .wrappPhoto

    background-color: #f6f6f6
    // background-image: url(../images/upload/sectionOne/doctor_w_1.png)
    background-repeat: no-repeat
    // padding-bottom: 100%
    background-position: bottom right
    height: auto
    display: flex

    .wrappImg
      text-align: center
  .photosectionOne
    position: absolute
    left: 0
    right: 0
    margin: auto
    bottom: 0
    top: 0
    img
      max-width: none

  .infoSectionOne
    transform: translateX(550px)
    opacity: 0
  .active

    .infoSectionOne
      animation: .77s photo forwards
      animation-delay: .75s
      // background: rgba(255, 255, 255, 0.34)
      width: 100%


  .infoSectionOne
    padding: 40px 20px
    display: flex
    flex-direction: column
    align-content: flex-end
    align-items: flex-start
    margin: auto
    max-width: 100%
    // max-width: 350px

    .date

      color: #686868;
      font-family: $defaultFont;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase
    .actionText
      margin-top: 28px



      color: #1f4ba5;
      font-family: $defaultFont;
      font-size: 36px;
      font-weight: 700;
    .nameProduct
      margin-top: 13px
      color: #febe10;
      font-family: $defaultFont;
      font-size: 36px;
      font-weight: 700;
    .desc
      margin-top: 29px
      // margin-bottom: 50px
      height: 15px;
      color: #686868;
      font-family: $defaultFont
      font-size: 15px;
      font-weight: 400;
    .btnMore
      margin-top: 50px


  .groupCard
    margin: 0 auto
    //display: none
    max-width: 1089px
    justify-content: space-between
    flex-direction: column
    position: relative
    left: 0
    right: 0
    margin: auto
    bottom: 20px
    padding-bottom: 0
    .owl-item
      height: 153px
    .card
      display: flex
      max-width: 320px;
      width: 100%
      height: 125px;
      background-color: white;
      border-radius: 2px;
      box-shadow: -6.6px 6.1px 24px rgba(64, 63, 68, 0.52)
      padding: 5px 13px 2px
      cursor: pointer
      margin: 8px auto 10px

      .wrappImg
        margin-right: 24px
        width: 100px
        overflow: hidden

      .date
        color: #686868;
        font-family: $defaultFont;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase
        padding-bottom: 22px
        padding-top: 9px
      .desc
        text-decoration: none
        color: #1f4ba5;
        font-family: $defaultFont;
        font-size: 15px;
        font-weight: 400;
        max-width: 145px
        display: block

      &:nth-child(1)
        .wrappImg
          margin-right: 51px
      &:nth-child(2)
        .wrappImg
          margin-right: 24px
      &:nth-child(3)
        .wrappImg
          margin-left: 12px
          margin-right: 39px

  .brendLineYellow
    display: flex
    align-items: center
    min-height: 87px
    background-color: #febe10
    width: 100%
    padding: 15px 20px 0 20px
    .flexB
      justify-content: space-between
    .briefInfo
      display: flex
      align-content: center
      align-items: center
      padding-bottom: 15px
      max-width: 310px
      width: 100%
      .icon-plus
        +sprite($plus)
      .icon-clock-2
        +sprite($clock-2)
      .icon-sert
        +sprite($sert)
      .icon-medical
        +sprite($medical)

      span
        color: black
        font-family: $defaultFont
        font-size: 17px
        font-weight: 400
        margin-left: 22px


@media #{$medium}
  .sectionOne
    .wrappPhoto
      background-position: 170px bottom
      padding: 20px  0 0 170px
      height: 533px
    .photosectionOne
      max-width: 40%
      position: relative
      padding: 0 154px 0 0
      transform: translateX(550px)
      opacity: 0

    .active
      .photosectionOne
        animation: .77s  photo forwards
        animation-delay: .35s
      .infoSectionOne
        background: transparent
    .infoSectionOne
      padding: 54px 0 40px
      margin: 0
      max-width: 60%
      // margin-left: 634px

    .groupCard
      position: absolute
      flex-direction: row
      display: flex
      bottom: 104px
      // padding-bottom: 39px

    .brendLineYellow

      .briefInfo
        padding: 0

@media #{$tablet}
  .sectionOne
    .groupCard
      bottom: 20px
    .brendLineYellow
      .briefInfo
        padding-bottom: 15px
        max-width: 360px

@keyframes photo
  0%
    transform: translateX(550px)
    opacity: 0
  100%
    transform: translateX(0px)
    opacity: 1
